*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, Arial, sans-serif;
}

body{
background:
linear-gradient(
135deg,
#041c32,
#064663,
#0a4d8c
);
min-height:100vh;
padding:15px;
}

.container{
width:100%;
max-width:1200px;
margin:auto;
}

.bank-header{
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,.15);
border-radius:25px;
padding:25px;
display:flex;
justify-content:space-between;
align-items:center;
color:white;
margin-bottom:20px;
}

.bank-header h1{
font-size:30px;
}

.profile{
text-align:right;
}

.profile span{
color:#ffd700;
font-weight:bold;
}

.balance-card{
background:
linear-gradient(
135deg,
#0f172a,
#1e3a8a
);
color:white;
padding:30px;
border-radius:25px;
box-shadow:
0 20px 40px rgba(0,0,0,.25);
margin-bottom:25px;
}

.balance-card h1{
font-size:42px;
margin:10px 0;
}

.account-row{
display:flex;
justify-content:space-between;
margin-top:20px;
}

.step{
display:none;
background:white;
padding:30px;
border-radius:25px;
box-shadow:
0 15px 35px rgba(0,0,0,.15);
}

.active{
display:block;
}

.card-grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.transfer-card{
background:white;
border-radius:20px;
padding:30px;
text-align:center;
cursor:pointer;
transition:.3s;
border:2px solid #e5e7eb;
}

.transfer-card:hover{
transform:translateY(-8px);
border-color:#2563eb;
box-shadow:
0 15px 30px rgba(0,0,0,.12);
}

.transfer-card h1{
font-size:55px;
margin-bottom:10px;
}

.transfer-card h3{
margin-bottom:10px;
}

input,
select,
textarea{
width:100%;
padding:16px;
border-radius:15px;
border:1px solid #d1d5db;
margin-top:12px;
margin-bottom:12px;
font-size:15px;
outline:none;
}

input:focus,
select:focus,
textarea:focus{
border-color:#2563eb;
}

textarea{
min-height:120px;
resize:none;
}

button{
width:100%;
padding:16px;
background:
linear-gradient(
135deg,
#2563eb,
#1d4ed8
);
color:white;
border:none;
border-radius:15px;
font-size:16px;
font-weight:600;
cursor:pointer;
}

button:hover{
opacity:.95;
}

#reviewBox,
#receipt{
background:#f8fafc;
padding:20px;
border-radius:20px;
line-height:1.9;
border:1px solid #e5e7eb;
}

.processing{
text-align:center;
padding:40px;
}

.loader{
width:90px;
height:90px;
border:8px solid #dbeafe;
border-top:8px solid #2563eb;
border-radius:50%;
margin:auto;
margin-bottom:20px;
animation:spin 1s linear infinite;
}

@keyframes spin{
100%{
transform:rotate(360deg);
}
}

hr{
border:none;
border-top:1px solid rgba(255,255,255,.2);
margin-top:15px;
}

@media(max-width:768px){

body{
padding:10px;
}

.bank-header{
flex-direction:column;
text-align:center;
gap:15px;
}

.profile{
text-align:center;
}

.balance-card h1{
font-size:30px;
}

.account-row{
flex-direction:column;
gap:15px;
}

.card-grid{
grid-template-columns:1fr;
}

.step{
padding:20px;
}

button{
width:100%;
}

  }
